extends layout

block content

  nav
    a(href="#que") ¿Qué?
    a(href="#quienes") ¿Quiénes?
    a(href="#cuando") ¿Cúando?


  #que
    .content
      :markdown
        ![](/img/mmhl01.jpg)
        **MusicMakers Hacklab**, el evento colaborativo diseñado por Peter Kirn [http://createdigitalmusic.com](createdigitalmusic.com)
        dentro del festival [DISK CTM](www.ctm-festival.de) de Berlín, extiende una línea de diálogo hacia
        la comunidad creativa del norte del país con el fin de encontrar nuevas formas de creación y expresión musical.
        ![](/img/mmhl02.jpg)
        Dentro del marco de la quinta edición del festival de música *All My Friends*, **MusicMakers Hacklab Tijuana**
        abre su espacio a la comunidad local dedicada al desarrollo de nuevas tecnologías en dispositivos musicales para
        compartir ideas y explorar juntos nuevas posibilidades de generar y controlar sonido electrónico.

  #quienes
    .whois.content
      .person
        :markdown
          ## Leslie García
          [lessnullvoid.cc](http://lessnullvoid.cc)
          <iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/146828974&amp;color=cccccc&amp;auto_play=false&amp;hide_related=false&amp;show_artwork=false"></iframe>

          Leslie Garcia works generating electronic art and digital media
          projects. Her work explores the fusion process between art and
          technology, using techniques such as the production of virtual tools,
          development of electronic prototypes, audio production, net art pieces
          design and visual generative codes. She co-founded DreamAddictive
          electronic media collective, Tijuana Mexico 2003- 2010 and
          Astrovandalistas Mexico 2010 - Reaserch fellow of NANO (Nucleo
          Laboratorial Nano de la Escola de Belas Artes – URFJ, Rio de Janeiro)
          She has exhibited her work, individual and group shows, in various
          festivals, collaborating with: Media Lab Prado, Museo de Arte Reina
          Sofía, Eyebeam, O1SJ, Museum of Latin American Arts, Piksel Festival,
          Centro Cultural de España, Public Art Lab Berlin, NOMAD Center for Media
          Research, Museum of Contemporary Art in Szczecin, Transitio_MX,
          LabSurLab2, Hiperorganicos, Mutek_MX, ISEA, Transmediale and CTM among
          others.



      .person
        :markdown
          ## Michael Trigilio
          [starve.org/mtprojects.html](http://www.starve.org/mtprojects.html)
          <iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/96895359&amp;color=cccccc&amp;auto_play=false&amp;hide_related=false&amp;show_artwork=false"></iframe>

          Michael Trigilio is a multimedia artist living in San Diego. His works
          in film, sound, performance, and tactical-media have been exhibited at
          the Museum of Contemporary Art San Diego, the LA County Museum of Art
          (LACMA), the Contemporary Museum in Baltimore, Anthology Film Archives
          in New York, Southern Exposure in San Francisco, and San Francisco's
          Dancers' Group. Michael's collaborative public-media project
          Neighborhood Public Radio (with artists Lee Montgomery and Jon Brumit)
          was included in the 2008 Whitney Biennial and in residencies at
          Headlands Center for the Arts in 2007 and the Museum of Contemporary Art
          (MOCA) in Los Angeles in 2011. Recent collaborative projects include
          Project Planetaria, with astrophysicist Adam Burgasser and artist Tara
          Knight, focusing on interpreting stellar-data through performance,
          sound, and media-work. His ongoing multimedia project T2ERU utilizes
          cutting-edge visualization technologies to examine memory as speculative
          counter-cultural material. Michael is faculty in the Visual Arts
          Department at UC San Diego and where he teaches courses in Media Arts
          and Sound.


  #cuando.content
    :markdown
      **MMHL_TJ** es un laboratorio de 3 días facilitado por [Michael Trigilio](http://visarts.ucsd.edu/faculty/michael-trigilio)
      y [Leslie García](http://lessnullvoid.cc), dirigido a desarrolladores de hardware/software, makers, músicos, compositores,
      diseñadores interactivos, artistas, o cualquier interesado en los procesos de creación *DIWO* de la música electrónica,
      dentro del cual se busca desarrollar sistemas standalone para generar sonido electrónico como:

      - Theremines
      - Secuenciadores de pasos de 8 y 16 bits - Consolas Atari punk
      - Sintetizadores de modelado analógico
      - Generadores de tonos y de efectos

      Y su interacción con dispositivos como: interfaces ópticas, biológicas y mecánicas.

      ![](/img/mmhl03.jpg)
      El resultado de los proyectos serán presentados en sesiones de actos en vivo dentro de un espacio del festival AMF,
      en donde además el público podrá interactuar con los dispositivos que se desarrollen durante los talleres.

      Interesados enviar un email [mmhl@amfmf.com](mailto:mmhl@amfmf.com) respondiendo a las siguientes preguntas:

      - ¿Qué habilidades puedes compartir?
      - ¿Cuáles son tus intereses?
      - ¿Con qué tipo de personas te gustaría colaborar?
      - ¿Porqué te quieres involucrar en el laboratorio?

      Adjunta un pequeño texto contándonos acerca de ti (150 palabras)

      **Cupo**: 8 personas<br>
      **Fecha**: 11, 12 y 13 de junio<br>
      **Horario**: 11 a 20 horas (sesiones distribuidas de talleres, tinkering, prototipado y jams colectivos)<br>
      **Lugar**: Tj in China project room (Av. Revolución No. 1332, Zona Centro, Tijuana, BC, mx (entre 6ta Y 7ma)<br>

      ![](/img/mmhl04.jpg)
      **MMHL_TJ** también tiene un programa de actividades abiertas al público que incluyen conferencias, micro-talleres y
      un showcase de proyectos de la región enfocados en la experimentación musical llamado Sesión de máquinas.

  footer.content
    p Con el apoyo de:
    img(src="/img/artealameda.png")
