extends layout

block content

  .content

    :markdown
      **MusicMakers Hacklab**, el evento colaborativo diseñado por Peter Kirn [http://createdigitalmusic.com](createdigitalmusic.com)
      dentro del festival [DISK CTM](www.ctm-festival.de) de Berlín, extiende una línea de diálogo hacia
      la comunidad creativa del norte del país con el fin de encontrar nuevas formas de creación y expresión musical.

    .images
      img(src="/img/mmhl01.jpg")
      img(src="/img/mmhl02.jpg")

    :markdown
      Dentro del marco de la quinta edición del festival de música *All My Friends*, **MusicMakers Hacklab Tijuana**
      abre su espacio a la comunidad local dedicada al desarrollo de nuevas tecnologías en dispositivos musicales para
      compartir ideas y explorar juntos nuevas posibilidades de generar y controlar sonido electrónico.

    .images
      img(src="/img/mmhl03.jpg")
      img(src="/img/mmhl04.jpg")


    :markdown
      **MMHL_TJ** es un laboratorio de 3 días facilitado por [Michael Trigilio](http:// visarts.ucsd.edu/faculty/michael-trigilio)
      y [Leslie García](http://lessnullvoid.cc), dirigido a desarrolladores de hardware/software, makers, músicos, compositores,
      diseñadores interactivos, artistas, o cualquier interesado en los procesos de creación DIWO de la música electrónica,
      dentro del cual se busca desarrollar sistemas standalone para generar sonido electrónico como:

      - Theremines
      - Secuenciadores de pasos de 8 y 16 bits - Consolas Atari punk
      - Sintetizadores de modelado analógico
      - Generadores de tonos y de efectos

      Y su interacción con dispositivos como: interfaces ópticas, biológicas y mecánicas.

      El resultado de los proyectos serán presentados en sesiones de actos en vivo dentro de un espacio del festival AMF,
      en donde además el público podrá interactuar con los dispositivos que se desarrollen durante los talleres.

    hr

    :markdown
      Interesados enviar un email [mmhl@amfmf.com](mailto:mmhl@amfmf.com) respondiendo a las siguientes preguntas:

      - ¿Qué habilidades puedes compartir?
      - ¿Cuáles son tus intereses?
      - ¿Con qué tipo de personas te gustaría colaborar?
      - ¿Porqué te quieres involucrar en el laboratorio?

      Adjunta un pequeño texto contándonos acerca de ti (150 palabras)

      **Cupo**: 8 personas<br>
      **Fecha**: 11, 12 y 13 de junio<br>
      **Horario**: 11 a 20 horas (sesiones distribuidas de talleres, tinkering, prototipado y jams colectivos)<br>
      **Lugar**: Tj in China project room (Av. Revolución No. 1332, Zona Centro, Tijuana, BC, mx (entre 6ta Y 7ma)<br>

      *MMHL_TJ* también tiene un programa de actividades abiertas al público que incluyen conferencias, micro-talleres y
      un showcase de proyectos de la región enfocados en la experimentación musical llamado Sesión de máquinas.

