extends layout

block content

  nav
    a(href="#que") ¿What?
    a(href="#quienes") ¿Who?
    a(href="#cuando") About
    a(href="#aplicar") Apply
    a(href="/es") En español

  a#amf(href="http://allmyfriends.tv"): img(src="/img/amf.png")

  #support.content
    p Supported by:
    img(src="/img/artealameda.png")
    img(src="/img/ayuntamiento.png")
    img(src="/img/telefonica.png")

  #que
    .content
      :markdown
        ![Photo por Rockajoint](/img/mmhl01.jpg)
        Within the fifth edition of the All My Friends (AMF) music festival,
        MusicMakers Hacklab Tijuana will be opening its doors to members of the
        local community interested in developing musical devices, to share ideas
        and explore new ways of creating and controlling electronic sound
        together.

        ![Photo por Rockajoint](/img/mmhl02.jpg)

        MusicMakers Hacklab, the collaborative event created by Peter Kirn
        [createdigitalmusic.com](http://createdigitalmusic.com) within the
        [DISK CTM](http://www.ctm-festival.de) de Berlin,
        opens up a dialog with the creative community in
        North Mexico to promote new forms in music creation.


  #quienes
    .whois.content
      .person
        :markdown
          ## Leslie García
          [lessnullvoid.cc](http://lessnullvoid.cc)
          <iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/146828974&amp;color=cccccc&amp;auto_play=false&amp;hide_related=false&amp;show_artwork=false"></iframe>

          Leslie Garcia works generating electronic art and digital media
          projects. Her work explores the fusion process between art and
          technology, using techniques such as the production of virtual tools,
          development of electronic prototypes, audio production, net art pieces
          design and visual generative codes. She co-founded DreamAddictive
          electronic media collective, Tijuana Mexico 2003- 2010 and
          Astrovandalistas Mexico 2010 - Reaserch fellow of NANO (Nucleo
          Laboratorial Nano de la Escola de Belas Artes – URFJ, Rio de Janeiro)
          She has exhibited her work, individual and group shows, in various
          festivals, collaborating with: Media Lab Prado, Museo de Arte Reina
          Sofía, Eyebeam, O1SJ, Museum of Latin American Arts, Piksel Festival,
          Centro Cultural de España, Public Art Lab Berlin, NOMAD Center for Media
          Research, Museum of Contemporary Art in Szczecin, Transitio_MX,
          LabSurLab2, Hiperorganicos, Mutek_MX, ISEA, Transmediale and CTM among
          others.

      .person
        :markdown
          ## Michael Trigilio
          [starve.org/mtprojects.html](http://www.starve.org/mtprojects.html)
          <iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/96895359&amp;color=cccccc&amp;auto_play=false&amp;hide_related=false&amp;show_artwork=false"></iframe>

          Michael Trigilio is a multimedia artist living in San Diego. His works
          in film, sound, performance, and tactical-media have been exhibited at
          the Museum of Contemporary Art San Diego, the LA County Museum of Art
          (LACMA), the Contemporary Museum in Baltimore, Anthology Film Archives
          in New York, Southern Exposure in San Francisco, and San Francisco's
          Dancers' Group. Michael's collaborative public-media project
          Neighborhood Public Radio (with artists Lee Montgomery and Jon Brumit)
          was included in the 2008 Whitney Biennial and in residencies at
          Headlands Center for the Arts in 2007 and the Museum of Contemporary Art
          (MOCA) in Los Angeles in 2011. Recent collaborative projects include
          Project Planetaria, with astrophysicist Adam Burgasser and artist Tara
          Knight, focusing on interpreting stellar-data through performance,
          sound, and media-work. His ongoing multimedia project T2ERU utilizes
          cutting-edge visualization technologies to examine memory as speculative
          counter-cultural material. Michael is faculty in the Visual Arts
          Department at UC San Diego and where he teaches courses in Media Arts
          and Sound.


  #cuando.content
    :markdown
      **MMHL_TJ** is a 3 day laboratory coordinated by
      [Michael Trigilio](http://visarts.ucsd.edu/faculty/michael-trigilio)
      and [Leslie García](http://lessnullvoid.cc), addressed to hardware/software developers,
      makers, musicians, composers, interactive designers, artists and anyone
      interested in DIWO music creation processes, in which we are seeking to
      develop stand-alone systems such as:

      - Theremins
      - 8- and 16-bit step sequencers
      - Atari punk consoles
      - Analog modeling synthesizers
      - Tone and effect generators

      And its interaction with optical, biological and mechanic  interfaces.

      ![Photo por Rockajoint](/img/mmhl03.jpg)

      A designated space for live act sessions will be set up during the AMF
      festival where the results will be presented and people would be able to
      interact with the devices developed during the workshop.

  #aplicar.content
    :markdown
      ![Photo por Rockajoint](/img/mmhl04.jpg)

      If your want to participate please send an email to mmhl@amfmf.com and
      tell us:

      - What are your skills?
      - What's your background?
      - What sorts of people would you hope to interact with as collaborators?
      - Why do you want to be involved?

      Attach a short bio

      **Capacity:** 8 participants<br>
      **Date:** June 11 12 and 13<br>
      **Time:** 11:00 to 20:00 (distributed sessions of workshops, tinkering, prototyping and
      collective jams)<br>
      **Venue:** Tj in China project room (Av. Revolución No.
      1332, Downtown Tijuana, BC, Mexico. Between 6ta Y 7ma)

      **Cupo**: 8 personas<br>
      **Fecha**: 11, 12 y 13 de junio<br>
      **Horario**: 11 a 20 horas (sesiones distribuidas de talleres, tinkering, prototipado y jams colectivos)<br>
      **Lugar**: Tj in China project room (Av. Revolución No. 1332, Zona Centro, Tijuana, BC, mx (entre 6ta Y 7ma)<br>

      \* Participants living outside Tijuana are responsible for its transportation and accommodation.

  #map
  .content
    :markdown
      In addition to the lab, **MMHL_TJ** will be organizing a program of
      activities open to the general public, including conferences, mini
      workshops, and a selection of regional music projects that have been
      experimenting with new technologies called: Sesión de Máquinas.

      [Event on Facebook](https://www.facebook.com/events/554136788038486/)

      ### Junio 11-13 Jun, 21:00 h.
      Todas las sesiones serán en TJ IN CHINA Project Room, hogar del HackLab:
      Sesión de máquinas I | Junio 11
      Chris Warren + Roberto Romero Molina + Michael Trigilio

      ### Sesión de máquinas II | Junio 12
      Ford Proco

      ### Sesión de máquinas III | Junio 13
      Ramón Amezcua aka Bostich from Nortec Collective

      ### ¿Sesiones de máquinas?
      Sesiones de experimentación guiadas en las que la audiencia podrá compartir,
      descubrir y dialogar sobre procesos de creación, composición e invención
      con productores activos en la región. En este espacio los asistentes podrán
      manipular y generar sonido en conjunto con los participantes del HackLab e
      invitados, lo que permitirá que los interesados puedan entrar en contacto con
      el trabajo elaborado durante las jornadas del #MMHL y a los practicantes,
      obtener una retroalimentación de su trabajo.

  footer.content
    :markdown
      Fotos por: [Rockajoint](http://www.rockajoint.com/)
    img(src="/img/rockajoint.png")
    img(src="/img/tjinchina.png")
    img(src="/img/noema.png")
