extends layout

block content

  nav
    a(href="#que") ¿What?
    a(href="#quienes") ¿Who?
    a(href="#cuando") About
    a(href="#aplicar") Apply
    a(href="/es") En español

  #support.content
    p Supported by:
    img(src="/img/artealameda.png")

  #que
    .content
      :markdown
        ![Photo por Rockajoint](/img/mmhl01.jpg)

        To promote the development of new forms of electronic music, the fifth edition of the **All My Friends
        festival** will be opening its doors to members of the international community dedicated to rethinking existing
        technologies and inventing new ones.

        **MusicMakers Hacklab** is a collaborative lab created by Peter Kirn [http://createdigitalmusic.com](createdigitalmusic.com)
        within the context of the **CTM festival organized by DISK** Berlin (www.ctm-festival.de), the purpose of which is
        to encourage participants to share ideas and explore new ways of creating and controlling electronic sound together.

        ![Photo por Rockajoint](/img/mmhl02.jpg)

        At a time when art and technology are merging and the boundaries between media, image and sound are fading
        to give way to original forms of expression, **AMF has broadened its horizons** and established dialog with
        the creative community in North Mexico. Not only does the festival aim to serve as a platform for the promotion
        of innovative ways of making electronic music, but a space that connects the ideas of pioneers in the field with
        our modern-day context.

        In addition to the lab, **MMHL_TJ will be organizing** a program of activities open to the general public,
        including conferences, mini workshops, a machine session and a selection of regional music projects that
        have been experimenting with new technologies.


  #quienes
    .whois.content
      .person
        :markdown
          ## Leslie García
          [lessnullvoid.cc](http://lessnullvoid.cc)
          <iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/146828974&amp;color=cccccc&amp;auto_play=false&amp;hide_related=false&amp;show_artwork=false"></iframe>

          Leslie Garcia works generating electronic art and digital media
          projects. Her work explores the fusion process between art and
          technology, using techniques such as the production of virtual tools,
          development of electronic prototypes, audio production, net art pieces
          design and visual generative codes. She co-founded DreamAddictive
          electronic media collective, Tijuana Mexico 2003- 2010 and
          Astrovandalistas Mexico 2010 - Reaserch fellow of NANO (Nucleo
          Laboratorial Nano de la Escola de Belas Artes – URFJ, Rio de Janeiro)
          She has exhibited her work, individual and group shows, in various
          festivals, collaborating with: Media Lab Prado, Museo de Arte Reina
          Sofía, Eyebeam, O1SJ, Museum of Latin American Arts, Piksel Festival,
          Centro Cultural de España, Public Art Lab Berlin, NOMAD Center for Media
          Research, Museum of Contemporary Art in Szczecin, Transitio_MX,
          LabSurLab2, Hiperorganicos, Mutek_MX, ISEA, Transmediale and CTM among
          others.

      .person
        :markdown
          ## Michael Trigilio
          [starve.org/mtprojects.html](http://www.starve.org/mtprojects.html)
          <iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/96895359&amp;color=cccccc&amp;auto_play=false&amp;hide_related=false&amp;show_artwork=false"></iframe>

          Michael Trigilio is a multimedia artist living in San Diego. His works
          in film, sound, performance, and tactical-media have been exhibited at
          the Museum of Contemporary Art San Diego, the LA County Museum of Art
          (LACMA), the Contemporary Museum in Baltimore, Anthology Film Archives
          in New York, Southern Exposure in San Francisco, and San Francisco's
          Dancers' Group. Michael's collaborative public-media project
          Neighborhood Public Radio (with artists Lee Montgomery and Jon Brumit)
          was included in the 2008 Whitney Biennial and in residencies at
          Headlands Center for the Arts in 2007 and the Museum of Contemporary Art
          (MOCA) in Los Angeles in 2011. Recent collaborative projects include
          Project Planetaria, with astrophysicist Adam Burgasser and artist Tara
          Knight, focusing on interpreting stellar-data through performance,
          sound, and media-work. His ongoing multimedia project T2ERU utilizes
          cutting-edge visualization technologies to examine memory as speculative
          counter-cultural material. Michael is faculty in the Visual Arts
          Department at UC San Diego and where he teaches courses in Media Arts
          and Sound.


  #cuando.content
    :markdown

      ## What are we seeking to develop?
      Stand-alone systems for the generation of electronic sound, such as Theremins,
      8- and 16-bit step sequencers, Atari punk consoles, analog modeling synthesizers
      and tone and effect generators, and new ways of interacting with these devices, such as
      optical, biological and mechanical interfaces or any other experimental means
      of creating electronic music.

      ## Who is the lab aimed at?
      Hardware/software developers, makers, musicians, composers, interactive designers,
      artists or anyone interested in DIWO processes for the creation of electronic music.

      ![Photo por Rockajoint](/img/mmhl03.jpg)

      ## What format will the lab take?
      The eight applicants chosen to participate in the lab will work with facilitators
      [Michael Trigil](http://visarts.ucsd.edu/faculty/michaeltrigilio) and [Leslie García](http://lessnullvoid.cc),
      exchanging ideas and pooling their skills to enhance their creative capacities. The lab will
      take place on June 11, 12 and 13, and we will work for between 11 and 20 hours at a venue
      (yet to be confirmed) in Tijuana. Sessions will be divided between workshops, tinkering,
      prototype development and group jams.

      ## How are we going to present the lab results?
      A special tent will be set up at the AMF festival and we will invite people to join in
      the open mixer and interact with the devices developed at the MMHL_TJ workshop. There will
      also be a program of live acts.


  #aplicar.content
    :markdown

      ![Photo por Rockajoint](/img/mmhl04.jpg)

      Those interested should send an e-mail to [mmhl@amfmf.com](mailto:mmhl@amfmf.com), with a brief
      paragraph abouth yourself and the following:

       - What skills do you have?
       - What are your interests?
       - Who would you like to collaborate with?
       - Why are you interested in the workshop?

      **Limited:** to 8 people<br>
      **Dates:** June 11, 12 and 13<br>
      **Sessions:** 3-5 hours per day, 11-20 hours total (sessions include workshops, tinkering, protyping, and jam sessions)<br>
      **Location**: Tj in China project room (Av. Revolución No. 1332, Zona Centro, Tijuana, BC, mx (betwen 6ta Y 7ma)

      \* Those participants who live outside of Tijuana will need to take care of their own accommodations and transportation.

  #map
  .content
    :markdown
      We also offer a programming open to the public that include conferences, smaller workshops, and a showcase of local projects focused on experimental music called Machine Sessions

  footer
    .content
      :markdown
        Photo credit: [Rockajoint](http://www.rockajoint.com/)
      img(src="/img/rockajoint.png")
      img(src="/img/tjinchina.png")
      img(src="/img/noema.png")