doctype html
html.no-js
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1, minimal-ui")
    meta(property="og:title", content="MusicMakers Hacklab")
    meta(property="og:site_name", content="MusicMakers Hacklab")
    meta(property="og:url", content="http://makers.amfmf.com")
    meta(property="og:image", content="http://2014.amfmf.com/img/amfmf.jpg")
    meta(property="og:type", content="website")
    meta(property="og:description", content="Dentro del marco de la quinta edicio패n del festival de mu패sica All My Friends, MusicMakers Hacklab Tijuana \
abre su espacio a la comunidad local dedicada al desarrollo de nuevas tecnologi패as en dispositivos musicales para \
compartir ideas y explorar juntos nuevas posibilidades de generar y controlar sonido electro패nico.")
    title= title
    != css('hover')
    != css('main')
    != js('modernizr')
    script.
      WebFontConfig = {
        google: { families: [ 'Lekton:400,700,400italic&subset=latin,latin-ext' ] }
      };
      (function() {
        // Webfonts
        var wf = document.createElement('script');
        wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
          '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
        wf.type = 'text/javascript';
        wf.async = 'true';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(wf, s);

        // Analytics
        var _gaq = _gaq || [];
        _gaq.push(["_setAccount","UA-35002156-1"]);
        _gaq.push(["_setDomainName","2014.amfmf.com"]);

        _gaq.push(['_trackPageview']);
        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

      })()
  body
    block content
    script(src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js")
    != js('main')
    block scripts