@require 'reset'
@require 'helpers'
@import 'nib'

text-font = 'Lekton'

html, body
  width 100%
  height 100%
  font-weight 400
  font-size 14px

strong
  font-weight 700
  color #555
em
  font-style italic
  color #555

body
  color #777
  font-family text-font, sans-serif
  background #eee
  line-height 1.6em
  padding 80px 0

h1, h2, h3, h4, h5
  //font-family header-font
  font-weight bold
  margin 1em 0

a
  color #555
  font-weight 700
  border-bottom 2px solid @color
  text-decoration none

p
  margin 1em 0

ul
  list-style initial

nav
  text-align center
  padding 40px 0
  background linear-gradient(top, rgba(#eee, 1), rgba(#eee, 0.7), rgba(#eee, 0))
  position fixed
  top 0
  width 100%
  a
    display inline-block
    border none
    margin 0 20px
    &:hover
      border-bottom 2px solid


.content
  width 768px
  max-width 100%
  margin 0 auto
  padding 0 20px
  box-sizing border-box
  p img
    display block
    width 100%
    margin 20px 0

#quienes
  padding 20px 0
  box-sizing border-box
  background #ccc

.whois
  p
    margin 0
  iframe
    margin 10px 0
  .person
    margin 20px 0
    @media only screen and (min-width: 768px)
      width 50%
      display inline-block
      box-sizing border-box
      vertical-align top
      padding 0 10px
      margin 0
      &:nth-child(odd)
        text-align right
        padding-left 0
      &:nth-child(even)
        text-align left
        padding-right 0


.who
  text-align center
  margin 20px auto
  a
    display inline-block
    padding 0.3em 1em
    margin-left -2px
    border 2px solid #777

.images
  img
    width 50%
    display inline-block
    box-sizing border-box

#support
  overflow hidden
  @media only screen and (min-width: 768px)
    .col
      float left
      margin-right 20px

  img
    max-width 200px
    display block


#map
  width 100%
  height 250px

footer
  padding 40px 0
  display block
  text-align center
  img
    display inline-block
    width auto
    height auto
